* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
ul {
    padding: 0;
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --red: red;
    --color-sidebar: #495057;
}
.color-red {
    color: var(--red);
}
.color-sidebar {
    color: var(--color-sidebar);
}


#header-profile {
    margin: 0 0 0 auto;
}

#main {
    height: 100vh;
}
#main-sidebar {
    padding-left:10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 8px 0px #ccc;
    height: 100vh;
}
#main-sidebar li:hover {
    cursor: pointer;
}
#main-sidebar .sidebar-item a {
    text-decoration: none;
}
#main-sidebar .sidebar-list {
    display: none;
    padding-left: 12px;
}
#main-sidebar .sidebar-list .sidebar-link a {
    text-decoration: none;
}
#main-menu.fas.fa-bars {
    width: 46px;
    height: 46px;
    display: block;
    font-size: 30px;
    text-align: center;
    padding-top: 4px;
}
#main-menu.fas.fa-bars:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: #ffffff;
    border: 1px solid bisque;
    border-radius: 4px;
}

